.Avatar {
  padding: 15px 20px 0 0;
}



.Wrapper {

  min-height: 85vh;
  background-image: url('https://images.unsplash.com/photo-1589983846997-04788035bc83?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;

  // background: linear-gradient(90deg, rgba(2, 0, 36, 0.555) 0%, rgba(9, 9, 121, 0.473) 35%, rgba(0, 213, 255, 0.473) 100%);
  // width: 100%;

  .title{
    text-align: center;
    padding: 10px;
  }
  .center {
  

    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 40%;
    
  }
}