.Avatar{
    padding: 15px 20px 0 0 ;
}



.Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height:85vh;
    // filter: blur(8px);
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    form{
      width: 470px,
    }
  }

